
@{
    ViewData["Title"] = "About";
}

<div class="containers features">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">NICK</h3>
            <img src="~/images/hqdefault.jpg" class="img-fluid">
            <p>HEJSAN</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">MICKE</h3>
            <img src="~/images/hqdefault.jpg" class="img-fluid">
            <p>HEJSAN</p>
        </div>
    </div>
</div>

<div class="containers featuress">

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">JOCKE</h3>
            <img src="~/images/hqdefault.jpg" class="img-fluid">
            <p>HEJSAN</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3 class="feature-title">ARVID</h3>
            <img src="~/images/hqdefault.jpg" class="img-fluid">
            <p>HEJSAN</p>
        </div>
    </div>

</div>