@{
    ViewData["Title"] = "Home Page";
}

    <div class="form-group">
        <input id="hej" type="submit" onclick="myFunction()" value="Search" class="btn btn-primary" />
        <script>
function myFunction() {
    document.getElementById("description").style.backgroundColor: "red"; 
}
        </script>
    </div>

<div class="description">
    <div class="col-lg-10 col-md-4 col-sm-12">
        <h1>Välkommen till AmpRange</h1>
        <p>AmpRange är den bästa sidan på marknaden för att på ett så effektivt sätt ta dig från punkt a till b med din fina elbil.</p>
    </div>
</div>
