@{
    ViewData["Title"] = "AmpRage";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the The Shadow Academy´s <b>AmpRage</b></h1>
    </div>

    <div class="input-group mb-3">
        <div class="form-group w-10">
            <p class="input-group-text" id="basic-addon1">Enter your regnumber</p>
        <input type="text" class="form-control" placeholder="Enter regnumber" aria-label="Regnumber" aria-describedby="basic-addon1">
        </div>
    </div>

