@model AmpRageRepo.Car


@{
    ViewData["Title"] = "AmpRage";
}

<div class="text-center">
    <form asp-action="ViewCarInfo">
        <div class="form-group">
            <label asp-for="LicensePlate" class="control-label"></label>
            <input asp-for="LicensePlate" class="form-control" />
            <span asp-validation-for="LicensePlate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="View Car Info" class="btn btn-primary" />
        </div>
    </form>
</div>