@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form style="margin-top: 2em;">
    <button asp-action="Recreate" class="btn btn-default">Recreate</button>
    <button asp-action="Seed" class="btn btn-default">Seed</button>
</form>