@model AmpRageRepo.Models.UserCarViewModel

@{
    ViewData["Title"] = "AddCarToUser";
}

<h1>AddCarToUser</h1>

<h4>UserCarViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCarToUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group" id="brand" style="width:400px">
                <p class="control-label">Car brand:</p>
                <select asp-for="CarBrand" id="CarBrand" class="form-control rounded-pill" style="width:400px">
                    @foreach (var item in Model.AllCarBrands)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>

            <div class="form-group" id="make" style="width:400px">
                <p class="control-label">Car brand + Range:</p>
                <select asp-for="CarMake" id="CarMake" class="form-control rounded-pill" style="width:400px">
                    @foreach (var item in Model.AllCarModels)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
