@model AmpRageRepo.Models.Path

@{
    ViewData["Title"] = "CreatePath";
}

<h1>CreatePath</h1>

<h4>Path</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreatePath">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Origin" class="control-label"></label>
                <input asp-for="Origin" class="form-control" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Range" class="control-label"></label>
                <input asp-for="Range" class="form-control" />
                <span asp-validation-for="Range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

@section scripts{

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBxb_cf_iJ3-24dffKVrlAfwGEZjTCSkGI" type="text/javascript"></script>

    <script>

        google.maps.event.addDomListener(window, 'load', function () {
            new google.maps.places.SearchBox(document.getElementById('Origin'));
            new google.maps.places.SearchBox(document.getElementById('Destination'));

        });

    </script>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

}

